<%- include('component/header') -%>
	<div class="l-main c-main">
		<div class="container">
			<div class="l-heading c-heading--wrap cf">
				<% if (user.authorityId > 3) { %>
				<div class="l-heading--option c-heading--option">
					<a href="?sort=ASC"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a>
					<a href="?sort=DESC"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></a>
					<a href="/users/add" title="Add User" class="c-button--add">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</div>
				<% } %>
				<h2 class="c-heading--primary"><%= title %> Page</h2>
			</div>
			<% if (user.authorityId > 3) { %>
			<div class="c-card--wrap">
				<ul class="c-card--list">
					<!--
					<% for (var i in users) { %>
					--><li>
						<a href="/users/edit/<%= users[i].id %>" class="c-card--user cf">
							<% if (users[i].avatarFile) { %>
							<figure class="c-card--avatar" style="background-image: url(/uploads/avatar/<%= users[i].avatarFile %>)">
							<% } else { %>
							<figure class="c-card--avatar" style="background-image: url(//placehold.jp/100x100.png)">
							<% } %>
							</figure>
							<div class="c-card--title">
								<h3>
									<span class="c-card--display"><%= users[i].displayName %></span>
									<span class="c-card--username">( <%= users[i].username %> )</span>
								</h3>
								<ul class="c-card--profile-list">
									<li><span class="c-card--authority"><%= users[i].authorityName %></span></li>
									<li class="c-card--email">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<span><%= users[i].email %></span>
									</li>
								</ul>
							</div>
							<span class="c-card--number"><%= users[i].number %></span>
						</a>
					</li><!--
					<% } %>-->
				</ul>
			</div>
			<% } else { %>
			<p>権限がありません。</p>
			<% } %>
		</div>
	</div>
<%- include('component/footer') -%>
