<%- include('component/header') -%>
<%
	var formatDate = function (date, format) {
		if (date && date !== '0000-00-00') {
			if (!format) format = 'YYYY-MM-DD';
			format = format.replace(/YYYY/g, date.getFullYear());
			format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
			format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
			format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
			format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
			format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
			if (format.match(/S/g)) {
				var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
				var length = format.match(/S/g).length;
				for (var i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));
			}
			return format;
		}
	};
%>
	<div class="l-main c-main">
		<div class="container">
			<div class="l-heading c-heading--wrap cf">
				<% if (user.authorityId > 3) { %>
				<div class="l-heading--option c-heading--option">
					<a href="/users" title="Return" class="c-button--add">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</a>
				</div>
				<% } %>
				<h2 class="c-heading--primary"><%= title %> Page</h2>
			</div>
			<div class="l-form--add l-form--table">
				<% if (title == 'Edit Users') { %>
				<form action="/users/edit" method="post" enctype="multipart/form-data">
				<% } else { %>
				<form action="/users/add" method="post" enctype="multipart/form-data">
				<% } %>
					<div class="l-form--column column1-3 c-form--upload">
						<% if (users.avatarFile) { %>
						<img src="/uploads/avatar/<%= users.avatarFile %>">
						<% } else { %>
						<img src="//placehold.jp/250x250.png">
						<% } %>

						<input type="file" name="avatar" id="user-upload-photo" class="c-form--upload-input jsc-upload-file">

						<label for="user-upload-photo" class="c-form--upload-label">
							<i class="fa fa-file-image-o" aria-hidden="true"></i>
							Photo File Select
						</label>

						<input type="text" id="jsi-upload-value" name="uploadValue" class="c-form--upload-value" value="<%= users.avatarFile %>" disabled readonly>
					</div>
					<div class="l-form--column">

						<%# NUMBER %>
						<div class="l-form--row">
							<div class="l-form--row-cell c-form--input-wrap">
								<input type="number" name="number" value="<%= users.number %>" pattern="[1-9][0-9]*" class="c-form--input jsc-input" required>
								<label class="c-form--label">User Number</label>
							</div>
						</div>

						<%# USER NAME %>
						<div class="l-form--row">
							<div class="l-form--row-cell c-form--input-wrap">
								<input type="text" name="username" value="<%= users.username %>" class="c-form--input jsc-input" required>
								<label class="c-form--label">User Name</label>
							</div>
						</div>

						<%# PASSWORD %>
						<div class="l-form--row">
							<div class="l-form--row-cell c-form--input-wrap">
								<input type="password" name="password" value="" class="c-form--input jsc-input">
								<label class="c-form--label">Password</label>
							</div>
						</div>

						<%# DISPLAY NAME %>
						<div class="l-form--row">
							<div class="l-form--row-cell c-form--input-wrap">
								<input type="text" name="displayName" value="<%= users.displayName %>" class="c-form--input jsc-input" required>
								<label class="c-form--label">Display Name</label>
							</div>
						</div>

						<%# E-MAIL %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<input type="email" name="email" value="<%= users.email %>" class="c-form--input jsc-input">
								<label class="c-form--label">E-mail</label>
							</div>
						</div>

						<%# SEX %>
						<div class="l-form--row">
							<div class="l-form--row-title l-form--row-cell">
								<span class="c-form--label">Sex</span>
							</div>
							<div class="l-form--row-cell c-form--input-wrap">
								<label class="c-form--select-wrap">
									<select name="gender" class="c-form--select">
										<% if (users.gender === '2') { %>
										<option value="1">男性</option><option value="2" selected>女性</option>
										<% } else { %>
										<option value="1" selected>男性</option><option value="2">女性</option>
										<% } %>
									</select>
								</label>
							</div>
						</div>

						<%# AUTHORITY %>
						<div class="l-form--row">
							<div class="l-form--row-title l-form--row-cell">
								<span class="c-form--label">Authority</span>
							</div>
							<div class="l-form--row-cell c-form--input-wrap">
								<label class="c-form--select-wrap">
									<select name="authority" class="c-form--select">
									<% for (var i in authority) { %>
										<% if (users.authorityId === authority[i].authorityId) { %>
										<option value="<%= authority[i].authorityId %>" selected><%= authority[i].authorityName %></option>
										<% } else { %>
										<option value="<%= authority[i].authorityId %>"><%= authority[i].authorityName %></option>
										<% } %>
									<% } %>
									</select>
								</label>
							</div>
						</div>

						<%# Favorite %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<textarea type="text" name="favorite" class="c-form--input jsc-input"><%= users.favorite %></textarea>
								<label class="c-form--label">Favorite</label>
							</div>
						</div>

						<%# BIRTH DAY %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<input type="date" name="birthday" value="<%= formatDate(users.birthday, 'YYYY-MM-DD') %>" class="c-form--input jsc-input" required>
								<label class="c-form--label">Birth day</label>
							</div>
						</div>

						<%# HIRE DATE %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<input type="date" name="hireDate" value="<%= formatDate(users.hireDate, 'YYYY-MM-DD') %>" class="c-form--input jsc-input">
								<label class="c-form--label">Hire date</label>
							</div>
						</div>

						<%# BLOOD TYPE %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<input type="text" name="bloodType" value="<%= users.bloodType %>" class="c-form--input jsc-input">
								<label class="c-form--label">Blood Type</label>
							</div>
						</div>

						<%# TELEPHONE %>
						<div class="l-form--row">
							<div class="c-form--input-wrap">
								<input type="tel" name="tel" value="<%= users.tel %>" minlength="10" maxlength="13" class="c-form--input jsc-input">
								<label class="c-form--label">Telephone</label>
							</div>
						</div>

						<%# SUBMIT%>
						<div class="l-form--row">
							<input type="hidden" name="id" value="<%= users.id %>">
							<div class="l-form--submit-wrap">
								<input type="submit" value="<%= title %>" class="c-form--submit">
							</div>
						</div>

						<%# DELETE%>
						<div class="c-form--delete-wrap">
							<% if (title == 'Edit Users') { %>
							<a href="/users/edit/delete?id=<%= users.id %>" class="c-form--delete jsc-user-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							<% } %>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<%- include('component/footer') -%>
