<%- include('component/header') -%>
	<div class="l-main c-main">
		<div class="container">
			<h2 class="c-heading--primary"><%= title %> Page</h2>
			<% if (user.authorityId > 3) { %>
			<table class="c-table--user">
				<thead>
					<tr>
						<% for (var key in users[0]) { %>
						<% if (key !== 'password') { %>
						<th><%= key %></th>
						<% } %>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% for (var i in users) { %>
					<tr>
						<% for (var key in users[i]) { %>
						<% if (key !== 'password') { %>
						<td><%= users[i][key] %></td>
						<% } %>
						<% } %>
					</tr>
					<% } %>
				</tbody>
			</table>
			<% } else { %>
			<p>権限がありません。</p>
			<% } %>
		</div>
	</div>
<%- include('component/footer') -%>
